<div class="modal-dialog modal-md" ng-class="size ? 'modal-' + size : ''"><div class="modal-header ng-scope">
        <h3 class="ng-binding">Add Hub</h3>
</div>

<div class="modal-body ng-scope">
    <form class="form-horizontal ng-pristine ng-invalid ng-invalid-required">
        <div class="form-group">
            <label class="col-sm-3 control-label">Alias</label>
            <div class="col-sm-9">
                <input type="text" required="" ng-model="hub.alias" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" placeholder="Enter alias">
            </div>
        </div>
    </form>
</div>

<!-- Footer -->
<div class="modal-footer ng-scope">
    <button class="btn btn-secondary" ng-click="reset()">Reset</button>
    <button class="btn btn-primary" ng-click="ok()">Add</button>
</div></div></div>