<style>
    /*ng-map, div[ng-map] {display:block; width:450px; height:300px;}*/
 </style>
<div class="modal-header">
    <h3>{{title}}</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label">Alias</label>
            <div class="col-sm-9">
                <input type="text" required ng-model="cam.alias" class="form-control" placeholder="Enter alias">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" ng-model="HubDisPlay">Hub</label>
            <div class="col-sm-9">
                <select ng-model="hubSelected" ng-change="changeHubSelected()" class="form-control">
                    <option value="" selected disabled hidden>{{HubDisPlay}} </option>
                    <option ng-repeat="hub in hubs" value="{{hub.id}}">{{hub.alias}}</option>
                </select>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-3 control-label" ng-model="SiteDisPlay">Site</label>
            <div class="col-sm-9">
                <select ng-model="siteSelected" ng-change="changeSiteSelected()" class="form-control">
                    <option value="" selected disabled hidden>{{SiteDisPlay}} </option>
                    <option ng-repeat="site in sites" value="{{site.id}}">{{site.site_name}}</option>
                </select>
            </div>
        </div>
       
        <div class="form-group">
            <label class="col-sm-3 control-label">Mac Address</label>
            <div class="col-sm-9">
                <input type="text" required ng-model="cam.macAddress" class="form-control" placeholder="Enter mac address">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Main Stream</label>
            <div class="col-sm-9">
                <input type="text" required ng-model="cam.mainStream" class="form-control" placeholder="Enter main stream">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" ng-model="mainEncoderDisPlay">Main Encoder</label>
            <div class="col-sm-9">
                <select class ="form-control ng-pristine ng-valid ng-not-empty ng-touched" ng-model="mainEncoderSelected" ng-change="changeMainEncoder()">
                    <option value="" selected disabled hidden>{{mainEncoderDisPlay}} </option>
                    <option ng-repeat="en in main_encoder" value="{{en.id}}">{{en.value}}</option>
                  
                </select>
            </div>
        </div>
        <div class="form-group" >
            <label class="col-sm-3 control-label">Sub Stream</label>
            <div class="col-sm-9">
                <input type="text" required ng-model="cam.subStream" class="form-control" placeholder="Enter source storage">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" ng-model="subEncoderDisplay">Sub Encoder</label>
            <div class="col-sm-9">
                <select class ="form-control ng-pristine ng-valid ng-not-empty ng-touched" ng-change="changeSubEncoderSelected()" ng-model="SubEncoderSelected">
                    <option value="" selected disabled hidden>{{subEncoderDisplay}} </option>
                    <option ng-repeat="en in sub_encoder" value="{{en.id}}">{{en.value}}</option>
        
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Source Storage</label>
            <div class="col-sm-9">
                <input type="text" required ng-model="cam.sourceStorage" class="form-control" placeholder="Enter Source Storage">
            </div>
        </div>
       
        <div class="form-group">
             <label class="col-sm-3 control-label">TypeRecord</label>
            
             <div class="form-check col-sm-4" ng-model="displayTypeRecord" >
                <select required name = "dropOfSegmentLenght" class ="form-control ng-pristine ng-valid ng-not-empty ng-touched" ng-model="typerecordValue" ng-change="changeTypeRecordSelected()">
                    <option value="" selected disabled hidden>{{displayTypeRecord}}</option>
                    <option ng-repeat="typerecord in typerecords"  value="{{typerecord.id}}">{{typerecord.value}}</option>
                    
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Days Storage</label>
            <div class="col-sm-9">
                <select class ="form-control ng-pristine ng-valid ng-not-empty ng-touched" ng-model="days_storage" ng-change="changeDayStorageSelected()">
                   <option value="" selected disabled hidden>{{recordstream.dayStorage}} </option>
                   <option ng-repeat="day in day_storage"  value="{{day.id}}">{{day.value}}</option>
                </select>
            </div>
        </div>
                    

        <div class="form-group">
            <label class="col-sm-3 control-label">Recorder</label>
            
             <div class="form-check col-sm-4" ng-model="displayRecorder" >
                <select required name = "dropOfSegmentLenght" class ="form-control ng-pristine ng-valid ng-not-empty ng-touched" ng-model="recorderValue" ng-change="changeRecorderSelected()" >
                    <option value="" selected disabled hidden>{{displayRecorder}}</option>
                    <option ng-repeat="recorder in recorders"  value="{{recorder.id}}">{{recorder.alias}}</option>
                    
                </select>
            </div>
            
            <label class="col-sm-1 control-label">Time</label>
            <div class="form-check col-sm-4" >
                <select  name = "dropOfSegmentLength" class ="form-control ng-pristine ng-valid ng-not-empty ng-touched" ng-model="SegmentLengthValue" ng-change="changeSegmentLength()">
                    <option value="" selected disabled hidden>{{recordstream.segmentLength}} s</option>
                    <option ng-repeat="time in segment_time"  value="{{time.id}}">{{time.value}} s</option>
                    
                </select>
            </div>
        </div>
        <hr class="featurette-divider">
       
        <!-- <div class="form-group">
            <div class="col-sm-3">
                <button type="butlass="btn btn-info" data-toggle="collapse" data-target="#demo" ng-click="collapseChanged()">
                    Advance optionston" c
                </button>
            </div>
        </div> -->
        <!-- <div id="demo" class="collapse"> -->
           
            
        <!-- </div> -->
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-secondary" ng-click="resetForm()">Reset</button>
    <button class="btn btn-primary" ng-click="ok()">{{action}}</button>
</div>