<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Quản lý Camera</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Camera
                </div>
                <h4>Lọc theo Hub</h4>
                <select name="service_id" class="form-control" style="width: 180px;height: 30px;margin-bottom: 10px"          
                        ng-model="hub_selected"
                        ng-options="c.alias for c in hubs track by c.id"
                        ng-change="onChangeHub()"
                        required> 
                    <option value="">---Chọn---</option> 
                </select> 
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <button type="button" class="btn btn-success" ng-click="openDlgAddCamera()">Add</button>
                    <table class="table table-striped table-bordered" datatable="ng" dt-options="dtOptions" width="100%">
                        <thead>
                            <tr>
                                <th>Alias</th>
                                <th>Hub</th>
                                <th>Address</th>
                                <th>Segment</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="cam in cams">
                                <td>{{cam.alias}}</td>
                                <td>{{getAliasHub(cam)}}</td>
                                <td>{{cam.address}}</td>
                                <td>{{getSegmentLenght(cam)}}</td>
                                <td>
                                    <button type="button" ng-click="openDlgEditCamera(cam)" class="btn btn-sm btn-danger">
                                        <i class="glyphicon glyphicon-edit">
                                        </i>
                                    </button>
                                    <!-- <button type="button" ng-click="delCamera(cam)" class="btn btn-sm btn-danger">
                                        <i class="glyphicon glyphicon-remove-circle">
                                        </i>
                                    </button> -->
                                    <button
                                        class="btn btn-sm btn-danger"
                                        mwl-confirm
                                        title="Bạn có chắc?"
                                        message="Bạn có chắc muốn xóa camera {{cam.alias}}?"
                                        confirm-text="Xóa"
                                        cancel-text="Hủy"
                                        placement=""
                                        on-confirm="confirmClicked = true; delCamera(cam);"
                                        on-cancel="cancelClicked = true"
                                        confirm-button-type="danger"
                                        cancel-button-type="default">
                                        <i class="glyphicon glyphicon-remove-circle">
                                        </i>
                                    </button>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->



</div>