<style>
    /*ng-map, div[ng-map] {display:block; width:450px; height:300px;}*/
 </style>
<div class="modal-header">
    <h3>{{title}}</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label" ng-model="CamDisPlay">Camera</label>
            <div class="col-sm-9">
                <select ng-model="camSelected" ng-change="changeHubSelected()" class="form-control">
                    <option value="" selected disabled hidden>{{HubDisPlay}} </option>
                    <option ng-repeat="cam in cams" value="{{cam.id}}">{{cam.alias}}</option>
                </select>
            </div>
        </div>
       
        <div class="form-group">
            <label class="col-sm-3 control-label" ng-model="HubDisPlay">Hub</label>
            <div class="col-sm-9">
                <select ng-model="hubSelected" ng-change="changeHubSelected()" class="form-control">
                    <option value="" selected disabled hidden>{{HubDisPlay}} </option>
                    <option ng-repeat="hub in hubs" value="{{hub.id}}">{{hub.alias}}</option>
                </select>
            </div>
        </div>            

    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-secondary" ng-click="resetForm()">Reset</button>
    <button class="btn btn-primary" ng-click="ok()">{{action}}</button>
</div>