<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Client</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Association Client
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <form class="form-inline">
                    <div class="form-group">
                        <label>Router:</label>
                        <select ng-model="routerId" class="form-control">
                            <option value="0">All</option>
                            <option ng-repeat="router in routers" value="{{router.id}}">{{router.alias}}</option>
                        </select>
                    </div>
                    <button class="btn btn-default" ng-click="reload()">View</button>
                </form>
                <table class="table table-striped table-bordered" datatable="ng" dt-options="dtOptions" width="100%">
                    <thead>
                    <tr>
                        <th>Hostname</th>
                        <th>Mac</th>
                        <th>IP</th>
                        <th>Signal/Noise</th>
                        <th>RX Rate</th>
                        <th>TX Rate</th>
                        <th>Device</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="client in clients">
                        <td>{{client.hostName}}</td>
                        <td>{{client.mac}}</td>
                        <td>{{client.ip}}</td>
                        <td>{{client.signal}}/{{client.noise}}</td>
                        <td>{{client.rx.rate}}</td>
                        <td>{{client.tx.rate}}</td>
                        <td>{{client.deviceName}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->