<div class="row">
    <div class="col-lg-12">
            <h1 class="page-header">Device Configurations</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                WLAN Groups
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <button type="button" class="btn btn-success" ng-click="addWLANGroup()">Add</button>
                <table class="table table-striped table-bordered" datatable="ng" dt-options="dtOptions" width="100%">
                    <thead>
                    <tr>
                        <th>Alias</th>
                        <th>SSID</th>
                        <th>Encryption</th>
                        <th>Create</th>
                        <th>Modified</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="wlanGroup in wlanGroups">
                        <td>{{wlanGroup.alias}}</td>
                        <td>{{wlanGroup.ssid}}</td>
                        <td>{{getEncryption(wlanGroup.encryption)}}</td>
                        <td>{{wlanGroup.created}}</td>
                        <td>{{wlanGroup.modified}}</td>
                        <td>
                            <button type="button" ng-click="editWlanGroup(wlanGroup)" class="btn btn-sm btn-danger">
                                <i class="glyphicon glyphicon-edit">
                                </i>
                            </button>
                            <button type="button" ng-click="" class="btn btn-sm btn-danger">
                                <i class="glyphicon glyphicon-remove-circle">
                                </i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Configurations
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <button type="button" class="btn btn-success" ng-click="openDlgAddConfiguration()">Add</button>
                <table class="table table-striped table-bordered" datatable="ng" dt-options="dtOptions" width="100%">
                    <thead>
                    <tr>
                        <th>Alias</th>
                        <th>Channel</th>
                        <th>Create</th>
                        <th>Modified</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="configuration in configurations">
                        <td>{{configuration.alias}}</td>
                        <td>{{configuration.channel}}</td>
                        <td>{{configuration.created}}</td>
                        <td>{{configuration.modified}}</td>
                        <td>
                            <button type="button" ng-click="openDlgEditConfiguration(configuration)" class="btn btn-sm btn-danger">
                                <i class="glyphicon glyphicon-edit">
                                </i>
                            </button>
                            <button type="button" ng-click="delConfiguration(configuration)" class="btn btn-sm btn-danger">
                                <i class="glyphicon glyphicon-remove-circle">
                                </i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->