<style>
    /*ng-map, div[ng-map] {display:block; width:450px; height:300px;}*/
 </style>
<div class="modal-header">
    <h3>{{title}}</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label">Tên Nhóm</label>
            <div class="col-sm-9">
                <input type="text" required ng-model="group.alias" class="form-control" placeholder="Enter name">
            </div>
        </div>
        
        
       
       
        
        <div class="form-group">
            <label class="col-sm-3 control-label">Mô tả nhóm</label>
            <div class="col-sm-9">
                <input type="text" required ng-model="group.description" class="form-control" placeholder="Enter description">
            </div>
        </div>
       
                    

    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-secondary" ng-click="resetForm()">Reset</button>
    <button class="btn btn-primary" ng-click="ok()">{{action}}</button>
</div>