<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <stats number="{{summary.numCSMRouter}}" comments="CSMRouter" colour="primary" type="rocket"></stats>
        <stats number="{{summary.numCSMDeviceOnline}}/{{summary.numCSMDevice}}" comments="Wireless Device" colour="primary" type="wifi"></stats>
        <stats number="{{summary.numClient}}" comments="Client" colour="yellow" type="user"></stats>
        <stats number="{{summary.numZone}}" comments="Zone" colour="red" type="globe"></stats>
    </div>
</div>
