<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Quản lý Hub</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Hub
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <button type="button" class="btn btn-success" ng-click="openDlgAddHub()">Add</button>
                    <table class="table table-striped table-bordered" datatable="ng" dt-options="dtOptions" width="100%">
                        <thead>
                            <tr>
                                <!-- <th>ID</th> -->
                                <th>Alias</th>
                                <th>Status</th>
                                <th>Last Active</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="hub in hubs">
                                <!-- <td>{{hub.id}}</td> -->
                                <td>{{hub.alias}}</td>
                                <td class="{{hub.online?'text-success':'text-danger'}}">{{hub.online?"Online":"Offline"}}</td>
                                <td>{{hub.lastActive}}</td>
                                <td>
                                    <button type="button" ng-click="openHubToolDlg(hub)" class="btn btn-sm btn-danger">
                                        <i class="glyphicon glyphicon-search">
                                        </i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

</div>