<div class="modal-header">
    <h3>Hub toolbox: {{hub.alias}}</h3>
</div>
<div class="modal-body ">
    <div class="btn-group" uib-dropdown>
        <button id="split-button" type="button" ng-click="discovery('onvif')" class="btn btn-danger">Discovery</button>
        <button type="button" class="btn btn-danger" uib-dropdown-toggle>
            <span class="caret"></span>
            <span class="sr-only">Split button!</span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
            <li role="menuitem"><a ng-click="discovery('hik')">Hik</a></li>
            <li role="menuitem"><a ng-click="discovery('')">All</a></li>
        </ul>
    </div>
    <table class="table table-striped table-bordered" datatable="ng" dt-options="dtOptions" width="100%">
        <thead>
        <tr>
            <!-- <th>Model</th> -->
            <th>IP</th>
            <th>Protocol</th>
            <th>Admin/Password</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="device in devices">
            <!-- <td>{{device.model}}</td> -->
            <td>{{device.address}}</td>
            <td>{{device.proto}}</td>
            <td>
                <!-- <div class="input-group"> -->
                    <input type="text" class="form-control" id="row-{{$index + 1}}-username" ng-model="device.username" placeholder="Enter username">
                    <input type="text" class="form-control" id="row-{{$index + 1}}-password" ng-model="device.password" placeholder="Enter password">
                <!-- </div> -->
            </td>
            <td>
                <button type="button" ng-click="getStream($index)" class="btn btn-sm btn-danger">
                    <i class="glyphicon glyphicon-search">
                    </i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <hr class="featurette-divider">
    <form class="form-inline">
        <div class="form-group">
            <label class="control-label">Camera Alias</label>
            <input type="text" required ng-model="deviceModel" class="form-control" width=500px>
        </div>
        <button type="button" class="btn btn-success" ng-click="quickAdd()">Quick Add</button>
    </form>
    <table class="table table-striped table-bordered" datatable="ng" dt-options="dtOptions2" dt-column-defs="dtColumnDefs" width="100%">
        <thead>
        <tr>
            <th>Channel</th>
            <th>Encoding</th>
            <th>Resolution</th>
            <th>GOV</th>
            <th>FPS</th>
            <th>Bitrate</th>
            <th>Action</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="stream in streams">
            <!--<td style="width: 20%">{{stream.streamUri}}</td>-->
            <td>
                <a id="acopy" title="{{stream.streamUri}}" uri="{{stream.streamUri}}" ng-click="return false;">{{stream.token}}</a>
            </td>
            <!--<td>{{stream.videoEncoder.encoding}} ({{stream.videoEncoder.h264.h264Profile}})</td>-->
            <td>
                <select ng-model="stream.videoEncoder.h264.h264Profile" class="form-control">
                    <option ng-repeat="profile in stream.videoEncoder.support.h264Profiles" ng-value="profile">{{stream.videoEncoder.encoding}} ({{profile}})</option>
                </select>
            </td>
            <td>
                <select ng-model="stream.videoEncoder.resolution.index" class="form-control">
                    <option ng-repeat="resolution in stream.videoEncoder.support.resolutionAvailables" ng-value="$index">{{resolution.width}}x{{resolution.height}}</option>
                </select>
            </td>
            <td>
                <input type="text" class="form-control" ng-model="stream.videoEncoder.h264.govLength" placeholder="GOV" required>
            </td>
            <td>
                <select ng-model="stream.videoEncoder.rateControl.frameRate" class="form-control">
                    <!--<option ng-repeat="n in range(stream.videoEncoder.support.frameRateRange.min, stream.videoEncoder.support.frameRateRange.max)">{{n}}</option>-->
                    <option ng-repeat="f in stream.videoEncoder.support.frameRateAvailables" ng-value="f.data">{{f.value}}</option>
                </select>
            </td>
            <td>
                <input type="text" class="form-control" ng-model="stream.videoEncoder.rateControl.bitrate" placeholder="Bitrate" required>
            </td>
            <td>
                <button type="button" ng-click="updateStream(stream)" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-edit"></i></button>
            </td>
            <td>
                <select ng-model="stream.type" class="form-control">
                    <option ng-repeat="type in types" value="{{type.id}}">{{type.name}}</option>
                </select>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <!-- <button class="btn btn-secondary" ng-click="resetForm()">Reset</button> -->
    <button class="btn btn-primary" ng-click="ok()">{{action}}</button>
</div>