<head>

    <link href="styles/mysidebar.css" rel="stylesheet" type="text/css"/>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <!--    <link href="zserver/java-projects/camera-cloud/cameracloud-views/app/styles/sidebar.css" rel="stylesheet" type="text/css"/>-->
    <link rel="stylesheet" type="text/css" href="styles/sidebar.css">
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<div>
    <header></header>
    <div id="wrapper">

        <!-- Navigation -->


        <div id="menusidebar">
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav nav">

                    
                    <li><a
                            id="btn-1" data-toggle="collapse" data-target="#submenu1" aria-expanded="false">Quản lý Thiết Bị<i class="fa fa-caret-down"></i></a>
                        <ul class="nav collapse" id="submenu1" role="menu" aria-labelledby="btn-1">

                            <li><a ui-sref="dashboard.cameradevice" href="#!/dashboard/cam"><i class="fa fa-video-camera"> Quản lý Camera</i></a>
                            </li>
                            <li><a ui-sref="dashboard.hubdevice" href="#!/dashboard/hub"><i class="fa fa-bolt"> Quản lý Hub</i></a>
                            </li>
                            <li>
                                <a ui-sref="dashboard.site" href="#!/dashboard/site"><i class="fa fa-building"> Quản lý Khu Vực</i></a>
                            </li>
                        </ul>
                    </li>
<!--                    <li><a
                            id="btn-2" data-toggle="collapse" data-target="#submenu2" aria-expanded="false">Quản lý Camera<i class="fa fa-caret-down"></i></a>
                        <ul class="nav collapse" id="submenu2" role="menu" aria-labelledby="btn-1">
                            <li><a ui-sref="dashboard.group" href="#!/dashboard/group"><i class="fa fa-users"> Quản Lý Nhóm</i></a>
                            </li>
                            <li><a ui-sref="dashboard.cameragroup" href="#!/dashboard/cameragroup"><i class="fa fa-user-circle">Gôm Nhóm Camera</i></a>
                            </li>
                            <li><a ui-sref="dashboard.usercamera" href="#!/dashboard/usercamera"><i class="fa fa-user-o"> Quản lý User</i></a>
                            </li>

                        </ul>
                    </li>-->
                    <li><a
                            id="btn-3" data-toggle="collapse" data-target="#submenu3" aria-expanded="false">Live View Main<i class="fa fa-caret-down"></i></a>
                        <ul class="nav collapse" id="submenu3" role="menu" aria-labelledby="btn-1">
                            <li><a ui-sref="dashboard.streamhls" href="#!/dashboard/streamhls"><i class="fa fa-desktop"> Stream HLS</i></a>
                            </li>
                            <li><a ui-sref="dashboard.streamrtmp" href="#!/dashboard/streamrtmp"><i class="fa fa-video-camera"> Stream RTMP</i></a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a ui-sref="dashboard.playback" href="#!/dashboard/playback">PlayBack</a>
                    </li>
                    <li>
                        <a href="#" ng-click="vm.showKey($event);$event.preventDefault();">Key</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#" ng-click="vm.logout();$event.preventDefault();"> Log out</a>
                    </li>
                </ul>
            </div>
        </div>


        <div id="container">
            <div id="wrapper">

                <!-- Sidebar -->

                <!-- /#sidebar-wrapper -->

                <!-- Page Content -->
                <div id="page-content-wrapper">
                    <div class="container-fluid">
                        <div class="row" style="width: 700px">
                            <div class="col-lg-12" style="width: 700px;">

                                <div id="display-ui-view">
                                    <div ui-view></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /#page-content-wrapper -->

            </div>
        </div>
        <!-- /#wrapper -->
        <!-- Menu Toggle Script -->
        <script>
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        </script>

    </div>
</div>

