
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Xem lại</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <h4>Lọc Camera Theo Khu Vực</h4>
    <select name="service_id" class="form-control" style="width: 180px;height: 30px;margin-bottom: 10px"          
            ng-model="site_selected"
            ng-options="c.site_name for c in sites track by c.id"
            ng-change="onChangeSite()"
            required> 

    </select> 
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="form-group">
                    <label >Chọn camera:</label>
                    <select ng-options="camera as camera.alias for camera in cams" ng-model="selectedCam" class="form-control" for="sel1">
                    </select>
                </div>
                <div class="form-group">
                    <label>Chọn thời điểm:</label>
                    <!--<div class="dropdown dropdown-parent">-->
                    <!--<a class="dropdown-toggle" id="dropdown" role="button" data-target=".dropdown-parent">-->
                    <!--<div class="input-group">-->
                    <!--<input type="text" id="date" name="date" class="form-control" data-ng-model="selectedDate">-->
                    <!--<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>-->
                    <!--</div>-->
                    <!--</a>-->
                    <!--<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">-->
                    <!--<datetimepicker   data-ng-model="selectedDate"-->
                    <!--data-datetimepicker-config="{dropdownSelector: '#dropdown', startView: 'hour', minView: 'hour', modelType: 'YYYY-MM-DD HH:mm:ss'}"></datetimepicker>-->
                    <!--</ul>-->
                    <!--</div>-->
                     <!--</div>-->
                    <div class="dropdown dropdown1-parent">
                        <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target=".dropdown1-parent">
                            <div class="input-group">
                            <input type="text" id="date" name="date" class="form-control" data-ng-model="selectedDate">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker   data-ng-model="selectedDate"
                            data-datetimepicker-config="{dropdownSelector: '#dropdown', startView: 'hour', minView: 'hour', modelType: 'YYYY-MM-DD HH:mm:ss'}"></datetimepicker>
                        </ul>
                    </div>

                </div>
                <div class="form-group">
                    <button class="btn btn-default btn-primary" ng-click="getSegment()">Xem</button>
                </div>
            </div>
            <div class="row">
                <label class="text-center"><strong>Danh sách tập tin</strong></label>
            </div>
            <div class="row">
                <div class="list-group">
                    <a ng-repeat="segment in segments.slice(((currentPage - 1) * itemsPerPage), ((currentPage) * itemsPerPage))" class="list-group-item">
                        <div ng-click="playFile(segment)">{{::segment.filename.split("/")[2]}}</div>
                    </a>
                </div>
                <ul uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" items-per-page="itemsPerPage"></ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="form-group">
                <video id="video" class="video-js vjs-default-skin vjs-16-9" width="100%" height="100%"
                       controls="controls" data-setup='{"playbackRates": [0.5, 1, 2, 4, 6, 8, 16, 32]}'>
                </video>
            </div>
        </div>
    </div>
</div>