<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Quản lý Khu Vực</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
   
    
    
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Khu Vực
                </div>
                
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <button type="button" class="btn btn-success" ng-click="openDlgAddSite()">Add</button>
                    <table class="table table-striped table-bordered" datatable="ng" dt-options="dtOptions" width="100%">
                        <thead>
                            <tr>
                                <th>Tên Khu Vực</th>
                                <th>Mô tả</th>
                               
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="site in sites">
                                <td>{{site.site_name}}</td>
                                <td>{{site.description}}</td>
                                
                                <td>
                                    <button type="button" ng-click="openDlgEditSite(site)" class="btn btn-sm btn-danger">
                                        <i class="glyphicon glyphicon-edit">
                                        </i>
                                    </button>
                                    <!-- <button type="button" ng-click="delCamera(cam)" class="btn btn-sm btn-danger">
                                        <i class="glyphicon glyphicon-remove-circle">
                                        </i>
                                    </button> -->
                                    <button
                                        class="btn btn-sm btn-danger"
                                        mwl-confirm
                                        title="Bạn có chắc?"
                                        message="Bạn có chắc muốn xóa camera {{site.site_name}}?"
                                        confirm-text="Xóa"
                                        cancel-text="Hủy"
                                        placement=""
                                        on-confirm="confirmClicked = true; delSite(site);"
                                        on-cancel="cancelClicked = true"
                                        confirm-button-type="danger"
                                        cancel-button-type="default">
                                        <i class="glyphicon glyphicon-remove-circle">
                                        </i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    

    

</div>