<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<script type="text/ng-template" id="livevideogrid.tpl.html" class="ng-scope">
    <div class="col-md-{{vm.videoColumnSize}} thumb">
    <video id="player-hls-grid-{{$index}}" class="video-js vjs-default-skin vjs-4-3" controls
    width="100%" height="100%" preload="auto">
    </video>
    <p class="text-center">{{cam.alias}}</p>
    </div>
</script>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Trực tiếp HLS</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div>
        <h4>Lọc Camera Theo Khu Vực</h4>
        <select name="service_id" class="form-control" style="width: 180px;height: 30px;margin-bottom: 10px"          
                ng-model="vm.site_selected"
                ng-options="c.site_name for c in sites track by c.id"
                ng-change="onChangeSite()"
                required> 
           
        </select>
       
    </div>
    <div class="row">
        <div class="form-group col-lg-12">

            <div class="btn-group">
                <label class="btn btn-default" ng-model="vm.gridView" ng-change="vm.gridLayoutChanged()" ng-model="display1" uib-btn-radio=1 uncheckable style="display: {{display1}}"><span
                        class="glyphicon glyphicon-th"></span> 1 Screen</label>
                        <label class="btn btn-default" ng-model="vm.gridView" ng-change="vm.gridLayoutChanged()" ng-model="display4" uib-btn-radio=4 uncheckable style="display: {{display4}}"><span
                        class="glyphicon glyphicon-th"></span> 4 Screen</label>
                        <label class="btn btn-default" ng-model="vm.gridView" ng-change="vm.gridLayoutChanged()" ng-model="display9"uib-btn-radio=9 uncheckable style="display: {{display9}}"><span
                        class="glyphicon glyphicon-th"></span> 9 Screen</label>
                        <label class="btn btn-default" ng-model="vm.gridView" ng-change="vm.gridLayoutChanged()" ng-model="display16"uib-btn-radio=16 uncheckable style="display: {{display16}}"><span
                        class="glyphicon glyphicon-th"></span> 16 Screen</label>
                <!-- <label class="btn btn-default" ng-model="vm.gridView" ng-change="vm.gridLayoutChanged()" uib-btn-radio=16 uncheckable>
                    <span class="glyphicon" width="20px" height="20px">
                        <svg viewBox="0 0 20 20" width="20px" height="20px"><path d="M0 9.002C0 8.45.455 8 .992 8h18.016c.548 0 .992.456.992 1.002v9.996c0 .553-.455 1.002-.992 1.002H.992C.444 20 0 19.544 0 18.998V9.002zm0-8C0 .45.451 0 .99 0h4.02A.99.99 0 0 1 6 1.003v4.994C6 6.551 5.549 7 5.01 7H.99A.99.99 0 0 1 0 5.997V1.003zm7 0C7 .45 7.451 0 7.99 0h4.02A.99.99 0 0 1 13 1.003v4.994C13 6.551 12.549 7 12.01 7H7.99A.99.99 0 0 1 7 5.997V1.003zm7 0C14 .45 14.451 0 14.99 0h4.02A.99.99 0 0 1 20 1.003v4.994C20 6.551 19.549 7 19.01 7h-4.02A.99.99 0 0 1 14 5.997V1.003z"></path>
                        </svg>
                    </span> 16 Screen</label> -->
            </div>

        </div>
    </div>
    <div class="form-group col-lg-12">
        <div class="row">
            <div ng-repeat="cam in vm.viewCams" ng-if="vm.gridView != 0">
                <ng-include src="'livevideogrid.tpl.html'" data-ng-init="vm.loadStreamHLS(cam, $index)"></ng-include>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <ul uib-pagination total-items="vm.cams.length" ng-model="vm.currentPage" ng-change="vm.pageChanged()" max-size="vm.maxSize" boundary-links="true" rotate="false" items-per-page="vm.itemPerPage"></ul>
            </div>
        </div>
    </div>


</div>