<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <!-- <sidebar-search></sidebar-search> -->
            <li ui-sref-active="active">
                <a ui-sref="dashboard.home"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.device"><i class="fa fa-wifi fa-fw"></i> Device<span></span></a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div> 



