<ul class="nav navbar-top-links navbar-right" style="margin-top: 0px">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user fa-fw"></i> {{vm.username}} 
        </a>
        
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
</ul>

