<div class="container">
    <!--<div class="row">-->
        <!--<div class="col-md-12">-->
            <!--<form name="someForm" novalidate ui-validation-submit="save()">-->
                <!--<div class="form-group" ui-validation-show-errors>-->
                    <!--<label for="someField" class="control-label">Some field</label>-->
                    <!--<input id="someField" type="text" name="someField" required class="form-control" ng-model="someField">-->
                    <!--<ui-validation-error-messages/>-->
                <!--</div>-->
                <!--<button type="submit" class="btn btn-primary" ng-disabled="someForm.$pristine">Save</button>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <strong>Login Cloud Camera </strong>
                </div>
                <div class="panel-body">
                    <form id="loginForm" data-toggle="validator" role="form">
                    <div class="form-group">
                        <input class="form-control" placeholder="Username" name="username" type="text" required autofocus ng-model="vm.username">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Password" name="password" type="password" required value="" ng-model="vm.password">
                        <div class="help-block with-errors"></div>
                    </div>
                    <!--<div class="checkbox">-->
                        <!--<label>-->
                            <!--<input name="remember" type="checkbox" value="Remember Me">Remember Me-->
                        <!--</label>-->
                    <!--</div>-->
                    <!-- Change this to a button or input when using this as a form -->
                    <button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>