<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Register CSMRouter Cloud</strong></h3>
                </div>
                <div class="panel-body">
                    <form id="registerForm" data-toggle="validator" role="form">
                    <div class="form-group">
                        <input class="form-control" data-minlength="5" placeholder="Username" name="username" type="text" required autofocus ng-model="vm.username" ng-keypress="vm.checkIfEnterKeyWasPressed($event)">
                        <div class="help-block">Minimum of 5 characters</div>
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="inputPassword" data-minlength="6" placeholder="Password" name="password" type="password" required value="" ng-model="vm.password" ng-keypress="vm.checkIfEnterKeyWasPressed($event)">
                        <div class="help-block">Minimum of 6 characters</div>
                    </div>
                    <!--<div class="form-group" ui-validation-show-errors>-->
                    <div class="form-group">
                        <input class="form-control" data-match="#inputPassword" data-match-error="Don't match with password" placeholder="Repeat Password" name="repeatPassword" type="password" required value="" ng-model="vm.repeatPassword" ng-keypress="vm.checkIfEnterKeyWasPressed($event)">
                        <div class="help-block with-errors"></div>
                    </div>
                    <button type="submit" class="btn btn-lg btn-success btn-block" ng-disabled="registerForm.$pristine">Register</button>
                    <a ui-sref="login" class="btn btn-lg btn-info btn-block" role="button">Back to login</a>
                    </form>
                </div>
            </div>
        </div>
        <!--<div class="col-md-12">-->
            <!--<form id="myForm" data-toggle="validator" role="form">-->
                <!--<div class="form-group">-->
                    <!--<label for="inputName" class="control-label">Name</label>-->
                    <!--<input type="text" class="form-control" id="inputName" placeholder="Cina Saffary" required>-->
                <!--</div>-->
                <!--<div class="form-group has-feedback">-->
                    <!--<label for="inputTwitter" class="control-label">Twitter</label>-->
                    <!--<div class="input-group">-->
                        <!--<span class="input-group-addon">@</span>-->
                        <!--<input type="text" pattern="^[_A-z0-9]{1,}$" maxlength="15" class="form-control" id="inputTwitter" placeholder="1000hz" required>-->
                    <!--</div>-->
                    <!--<span class="glyphicon form-control-feedback" aria-hidden="true"></span>-->
                    <!--<div class="help-block with-errors">Hey look, this one has feedback icons!</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label for="inputEmail" class="control-label">Email</label>-->
                    <!--<input type="email" class="form-control" id="inputEmail" placeholder="Email" data-error="Bruh, that email address is invalid" required>-->
                    <!--<div class="help-block with-errors"></div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label for="inputPassword" class="control-label">Password</label>-->
                    <!--<div class="form-inline row">-->
                        <!--<div class="form-group col-sm-6">-->
                            <!--<input type="password" data-minlength="6" class="form-control" id="inputPassword" placeholder="Password" required>-->
                            <!--<div class="help-block">Minimum of 6 characters</div>-->
                        <!--</div>-->
                        <!--<div class="form-group col-sm-6">-->
                            <!--<input type="password" class="form-control" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="Whoops, these don't match" placeholder="Confirm" required>-->
                            <!--<div class="help-block with-errors"></div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<div class="radio">-->
                        <!--<label>-->
                            <!--<input type="radio" name="underwear" required>-->
                            <!--Boxers-->
                        <!--</label>-->
                    <!--</div>-->
                    <!--<div class="radio">-->
                        <!--<label>-->
                            <!--<input type="radio" name="underwear" required>-->
                            <!--Briefs-->
                        <!--</label>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<div class="checkbox">-->
                        <!--<label>-->
                            <!--<input type="checkbox" id="terms" data-error="Before you wreck yourself" required>-->
                            <!--Check yourself-->
                        <!--</label>-->
                        <!--<div class="help-block with-errors"></div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<button type="submit" class="btn btn-primary">Submit</button>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
    </div>
</div>