<nav class="navbar navbar-default navbar-static-top navbar-fixed-side-left  " role="navigation" style="
    position: fixed;
    width: 100%;
">
    <div class="navbar-header">

        <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Cloud Camera</a>
    </div>
    <!-- /.navbar-header -->
    <header-notification></header-notification>

     <!--<sidebar></sidebar>-->
</nav>
